body
{

	padding-top: 50px;
	background-color: #782F40
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0;     
	color: #CEB888;
	font-size: 66px;
	font-family: "trebuchet ms", sans-serif;    
}
h2
{
	margin: 0;     
	color: #CEB888;
	font-family: "trebuchet ms", sans-serif;    
}
h3
{
	margin: 0;     
	color: #CEB888;
	font-family: "trebuchet ms", sans-serif;    
}
h4
{
	margin: 0;     
	color: #CEB888;
	font-family: "trebuchet ms", sans-serif;    
}
p
{
	margin: 0;     
	color: #CEB888;
	font-family: "trebuchet ms", sans-serif;    
}
title
{
color:#CEB888
}
label{
	color: #CEB888;
	font-family: "trebuchet ms", sans-serif; 
}
.navbar
{
	color: #CEB888;
	background-color: #2C2A29
}
.navbar-fixed-top {
    top: 0;
	border-width: 0 0 1px;
	background-color: #2C2A29
}
.navbar-inverse {
    background-color: #2C2A29;
    border-color: #CEB888;
}
a.navbar {
	color: #CEB888
}

